<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="GameExePath" value="Bin\Game.exe" />
		<add key="SettingPath" value="Bin\Launcher\Setting.txt" />
		<add key="IPSavedFile" value="Bin\Launcher\Save.txt" />
		<add key="ModeSavedFile" value="Bin\mode.cfig" />
		<add key="LibFile" value="Lib.txt" />
		<add key="GameFilePath" value="Bin/OgreMain.dll" />
		<add key="LoginServerFile" value="Patch/LoginServer.txt" />
		<add key="VersionFile" value="(version)" />
		<add key="ConfigFilePath" value="Data/Libs/launcher.json"/>
		<add key="HashSumFile" value="hashsum.json"/>
		<add key="MessageBoxContentFile" value="Data/Libs/messagebox.json" />
		
 </appSettings>
 <userSettings>
  <Launcher.Properties.Settings>
   <setting name="isFirstRun" serializeAs="String">
    <value>True</value>
   </setting>
  </Launcher.Properties.Settings>
 </userSettings>
</configuration>