<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="GameExePath" value="Bin\Game.exe" />
		<add key="SettingPath" value="Bin\Launcher\Setting.txt" />
		<add key="IPSavedFile" value="Bin\Launcher\Save.txt" />
		<add key="ModeSavedFile" value="Bin\mode.cfig" />
		<add key="LibFile" value="Lib.txt" />
		<add key="GameFilePath" value="Bin/OgreMain.dll" />
		<add key="LoginServerFile" value="Patch/LoginServer.txt" />
		<add key="VersionFile" value="(version)" />
		<add key="ConfigFilePath" value="Data/Libs/launcher.json"/>
		<add key="HashSumFile" value="hashsum.json"/>
	</appSettings>
</configuration>